/* Etiquetas Globales */
label{
	background: yellow;
	font-style: normal;
	font-size: 20pt;	
	display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;    
}

/*por su id */
#hola{
	background: black;
	font-style: oblique;
	font-size: 30pt;
	display: block;
    width: 100%;
    text-align: center;
    color:yellow;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
}

/*por su clase*/
.clases{
	font-size: 20pt;
	background: black;	
	display: block;
    width: 100%;
    text-align: center;
    color:yellow;
    margin-top: 2pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
}

#h2{
	background: yellow;
	font-style: normal;
	font-size: 20pt;
	display: block;
    width: 100%;
    text-align: left;
}